@import url(./reset.css);

body{
    font-family: 'Courier New', Courier, monospace;
}

h1{
    color: blue;
    font-size: 30px;
}

hr{
    color: red;
}
    
 .item{
background-color: antiquewhite;
color: dark blue;
 }

 ul{
    margin: auto;
 }